/* GERAL */
*, body, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

.hidden {
  display: none !important;
}

/* PÁGINA DE LOGIN */
.page-login {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FFF;
}

.page-login img {
  width: 130px;
  margin-top: 10.8vh;
}

.page-login main {
  width: 100%;
  max-width: 261px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.page-login .input-name {
  width: 100%;
  height: 54px;
  margin-top: 14.09vh;

  font-size: 18px;
  line-height: 25px;
  text-align: center;

  border-radius: 4px;
  border: 1px solid #D7D7D7;

  color: #000;
}

.page-login ::placeholder {
  color: #AEAEAE;
}

.page-login button {
  width: 109px;
  height: 45px;

  font-size: 18px;
  line-height: 25px;

  border-radius: 9px;
  
  color: #696969;
  background: #E7E7E7;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(50vh - 92px - 10.8vh - 36px); /* 92px -> width img ;; 10.8vh -> margin-top img ;; 36px -> (height p (22px) + margin-top p) / 2 */
}

.loading .loader {
  color: #000;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

.loading p {
  margin-top: 50px;
  font-size: 18px;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  
/* PÁGINA DO CHAT */
.page-chat {
  width: 100vw;
  height: 100vh;
  background: #F3F3F3;
}

.page-chat header {
  width: 100%;
  height: 80px;
  padding: 0 22px;

  background: #FFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
}

.page-chat header .icon-people {
  font-size: 45px;
  color: #000;
}

.page-chat main {
  padding-top: 106px;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.page-chat main .message {
  font-size: 14px;
  line-height: 20px;
  padding: 10px;

  background: #FFF;
}

.page-chat main .message.status {
  background: #DCDCDC;
}

.page-chat main .message.privately {
  background: #FFDEDE;
}

.page-chat main .message span {
  color: #AAAAAA;
}

.page-chat footer {
  width: 100%;
  height: 80px;
  padding: 0 17px;

  background: #FFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: 10px;
}

.page-chat .container-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.page-chat footer input {
  width: 100%;
  height: 30px;
  /* padding: 0 60px 0 17px; */

  border: none;
  font-size: 18px;
  line-height: 25px;

  color: #000;
  position: relative;
}

.page-chat footer span {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;

  color: #505050;
}

.page-chat footer .icon-message {
  /* position: absolute;
  bottom: 24px;
  right: 17px; */

  font-size: 32px;
}

.page-chat ::placeholder {
  font-style: italic;
  color: #000;
}

/* RIGHT DRAWER ABERTO */
.right-drawer {
  width: 100vw;
  height: 100vh;
  
  position: fixed;
  z-index: 5;

  display: flex;
}

.right-drawer .background {
  flex: 1;
  width: 0;
  background: rgba(0, 0, 0, 0.6);
}

.right-drawer .content {
  width: 69.06vw;
  max-width: 400px;
  padding: 20px 18px;
  background: #FFF;

  -webkit-animation: openRightDrawer .4s ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes openRightDrawer {
  0% {
    width: 0px;
  }
  100% {
    width: 69.06vw;
  }
}

.right-drawer .content h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}

.right-drawer ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-drawer .people {
  margin-bottom: 20px;

}

.right-drawer li {
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.right-drawer .icon-people, .right-drawer .icon-person,
.right-drawer .icon-unlocked, .right-drawer .icon-locked {
  font-size: 25px;
}

.right-drawer .selected .container-check {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  padding-right: 6px;
}

.right-drawer .selected .icon-check {
  font-size: 12px;
  color: #28BB25;
}

.page-login button:hover, .page-chat footer .icon-message:hover,
.page-chat header .icon-people {
  cursor: pointer;
}